/*==============================  
BASIC SETUP
================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    line-height: 1.5em;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}


/*==============================  
RE-USEABLE CSS STYLE
================================*/

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.clearfix {
    overflow: hidden;
}


/*=======================
HEADER CSS STYLES  
=========================*/

header {
    background: #ecf1f5;
}

.header-area {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #dbdee1;
}


/* Logo area */

.header-area .logo-area {
    width: 90%;
    float: left;
}

.header-area .logo-area .logo-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    color: #fe5a5d;
    text-transform: uppercase;
    padding: 20px 0 20px 35px;
    display: inline-block;
    border-left: 1px solid #dddddd;
}


/* Menu Bar */

.header-area .menu-bar {
    width: 5%;
    float: left;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dbdee1;
    padding: 20px;
}

.header-area .menu-bar strong {
    display: inline-block;
}

.header-area .menu-bar strong i {
    color: #393b42;
    font-size: 22px;
    font-weight: 100;
}


/* Hero Area CSS */

.hero-text {
    width: 80%;
    float: left;
    margin: 80px auto 50px;
}

.hero-arrow {
    width: 16%;
    float: right;
    margin: 300px auto 0;
}

.hero-area a i {
    color: #fe5a5d;
    font-size: 50px;
    font-weight: 100;
    display: block;
    text-align: center;
}

.hero-text h1 {
    font-size: 67pt;
    text-transform: uppercase;
    line-height: 1.5em;
    color: #fe5a5d;
    margin-bottom: 5px;
    font-weight: 700;
}

.hero-text p {
    padding: 0 65px;
    font-size: 18px;
    line-height: 1.5em;
}


/* Service Area  */

.service {
    width: 100%;
    margin: 0 auto;
}

.service .inner-service {
    max-width: 970px;
    margin: 0 auto;
}

.service .inner-service .print-area,
.service .inner-service .web-area {
    max-width: 970px;
    margin: 50px auto;
    position: relative;
}

.service .inner-service .print-area .print-image,
.service .inner-service .web-area .web-image {
    width: 470px;
    height: 400px;
    float: left;
    margin-bottom: 50px;
}

.service .inner-service .print-area .print-image img,
.service .inner-service .web-area .web-image img {
    width: 100%;
    height: 500px;
    float: left;
}

.service .inner-service .print-area .print-text,
.service .inner-service .web-area .web-text {
    margin-left: 20px;
    width: 450px;
    float: left;
    margin-top: 300px;
    color: #c1c1c1;
}

.service .inner-service .print-title {
    text-align: left;
    font-size: 50px;
    color: #fe5a5d;
    font-weight: 900;
    line-height: 1.5em;
    width: 76%;
    position: absolute;
    top: 20%;
    right: -5%;
}

.service .inner-service .web-area .web-text {
    margin-right: 20px;
}


/* PORTFOLIO CSS STYLE */

.portfolio {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.portfolio .col {
    width: 33.333333%;
    float: left;
}

.portfolio .col img {
    width: 100%;
    height: 400px;
}


/* About CSS Style */

.about-text {
    max-width: 570px;
    margin: 50px auto;
}

.about-text h3 {
    text-align: center;
    font-size: 32px;
    font: 800;
    color: #555555;
    padding-bottom: 20px;
}

.about-text p {
    text-align: center;
    color: #c1c1c1;
}


/* Contact area CSS Style */

.contact {
    background: #2d3b3f;
    padding: 100px 0;
}

.contact h2 {
    margin-left: 100px;
    color: #fff;
    font-size: 30px;
    padding: 35px 0;
}

.contact p {
    margin-left: 35px;
    color: #c1c1c1;
    padding-bottom: 15px;
}

.contact h3 {
    font-size: 55px;
    padding: 15px 0;
    margin-left: 160px;
    color: #fe5a5d;
}


/* Footer Area */

footer {
    background: #232f32;
}

.main-footer {}

.main-footer p {
    padding: 30px 0;
    color: #fff;
    text-align: center;
}